:root {
  --font-family: 'Jost';
  --font-size: 16px;

  --purple: #484283;
  --accent: #F14F4F;
  --accent-hover: #8C2828;
  --light-grey: #F6F6F6;
  --grey: #444B58;
  --white: #FFFFFF;
  --hover-grey: #C4C4C4;
  --placeholder-grey: #B2B5BB;
}