@import '../../app/styles/breakpoints';

.wrapper {
  padding-top: 55px;
  padding-bottom: 109px;

  @include for-phone {
    padding-bottom: 89px;
  }

  @include for-tablet {
    padding-bottom: 79px;
  }

  @include for-desktop {
    padding-bottom: 100px;
  }

  .title {
    font-size: 30px;
    font-weight: 700;
    line-height: 43.35px;
    color: var(--grey);
    margin: 0;
  }

  .product {
    display: flex;
    margin-top: 55px;
    gap: 42px;

    @include for-phone {
      flex-direction: column;
      margin-top: 35px;
    }

    @include for-tablet {
      margin-top: 35px;
      gap: 30px;
    }

    .slider {
      display: flex;
      flex-direction: column;
      width: 520px;

      @include for-phone {
        max-width: 100%;
      }

      @include for-tablet {
        max-width: 40%;
      }

      @include for-desktop {
        max-width: 40%;
        justify-content: space-between;
      }

      .mainImg {
        width: 520px;
        max-height: 461px;
        object-fit: contain;

        @include for-phone {
          width: auto;
        }

        @include for-tablet {
          width: auto;
        }

        @include for-desktop {
          width: auto;
        }
      }

      .items {
        display: flex;
        gap: 20px;
        margin-top: 20px;
        overflow: scroll;

        @include for-phone {
          overflow: scroll;
        }

        @include for-tablet {
          overflow: scroll;
        }

        @include for-desktop {
          overflow: scroll;
        }

        .img {
          width: 70px;
          height: 75px;
          border-radius: 4px;
          box-sizing: border-box;
          cursor: pointer;
          object-fit: contain;
        }

        .activeImg {
          border: 3px solid var(--hover-grey);
        }
      }
    }
  }
}