@import '../../styles/breakpoints';

.counter {
  display: flex;
  gap: 9px;
  height: 48px;

  @include for-phone {
    width: 100%;
    gap: 0;
    justify-content: space-between;
  }

  .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    width: 48px;
  }

  .count {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    line-height: 140%;
    background-color: var(--light-grey);
    color: var(--grey);
    border-radius: 4px;
    width: 62px;

    @include for-phone {
      width: 50%;
    }
  }
}