.card {
  display: flex;
  flex-direction: column;
  max-width: 370px;
  gap: 10px;
  cursor: pointer;

  .imgWrapper {
    border-radius: 4px;
    transition: .5s;
    max-height: 293px;

    .img {
      mix-blend-mode: multiply;
      border-radius: 4px;
      height: 100%;
      width: 100%;
    }
  }

  .imgWrapperHover {
    background-color: rgba(135, 135, 135, 0.25);
    transition: .7s;
  }

  .product {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    height: 48px;

    .description {
      display: flex;
      flex-direction: column;
      min-width: 185px;

      .title {
        font-size: 16px;
        font-weight: 600;
        color: var(--grey);
        margin: 0;
        transition: 1s;
      }

      .titleHover {
        text-decoration: underline;
        transition: 1s;
      }

      .hiddenTitle {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
      }

      .price {
        font-size: 18px;
        color: var(--grey);
        line-height: 26px;
      }
    }

    .btn {
      padding: 13px 12px;
      width: 48px;

      .icon {
        filter: invert(1);
      }
    }
  }
}

