@import '../../app/styles/breakpoints';

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--grey);
  height: 80px;

  @include for-phone {
    flex-direction: column;
    align-items: normal;
    height: auto;
  }

  .logo {
    cursor: pointer;
    font-weight: 700;
    font-size: 30px;
    color: var(--white);
    text-decoration: none;

    @include for-phone {
      padding: 20px 0;
    }
  }
}