@import '../../styles/breakpoints';

.wrapper {
  display: flex;
  align-items: center;
  gap: 10px;

  @include for-phone {
    align-items: normal;
  }

  @include for-tablet {
    align-items: normal;
  }

  .title {
    color: var(--placeholder-grey);
    font-size: 16px;
    font-weight: 600;
    margin: 0;
  }
}